# Ignore Python cache files
__pycache__/
*.pyc

# Ignore macOS metadata
.DS_Store

# Ignore virtual environment
.venv/

# Ignore logs and temp files
*.log
*.tmp

# Ignore editor/project-specific files
.idea/
.vscode/

# Ignore compiled binaries (C++, Java, etc.)
*.class
*.out
*.exe

auto_push.sh
rename_solutions.sh
fix_folder.py
